#content_left_plan{
	margin-left: 30px;
}
#content_left_plan_1{
	float: left;
	width: 450px;
}
#content_left_plan_1 p{
	font: 12px arial;
	color: #666666;
	line-height: 1.5em;
}
#content_left_plan_2{
	float: right;
	margin-top: 20px;
}
#content_left_content ul{
	padding-top:40px ;
}
#content_left_content ul li{
	padding: 5px 0px 5px 10px;
	background: url(../images/butt_13.gif) no-repeat 0px 10px;
	border-bottom: 1px dashed #999999;
}
